
.botao {
    background-color: gray;
    color: white;
    border: none;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
}
.is-toggled {
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
}